#GroupHome_G11{
    background-image: url('../components/image/G11.png');
    background-position: center;
}
#GroupHomeImage_G11{
    background-image: url('../components/image/G11.png');
    background-position: center;
    background-size: 100% 100%;
}