#GroupHome_G07{
    background-image: url('../components/image/G07.png');
    background-position: center;
}
#GroupHomeImage_G07{
    background-image: url('../components/image/G07.png');
    background-position: center;
}