#GroupHome_G10{
    background-image: url('../components/image/G10.png');
    background-position: center;
}
#GroupHomeImage_G10{
    background-image: url('../components/image/G10.png');
    background-position: center;
    background-size: 100% 100%;
}