#GroupHome_G05{
    background-image: url('../components/image/G05.png');
    background-position: center;
}
#GroupHomeImage_G05{
    background-image: url('../components/image/G05.png');
    background-position: center;
}